:root {
  --oui-font-family: 'Fira Sans', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 255 140 0;
  --oui-color-primary-light: 255 190 0;
  --oui-color-primary-darken: 255 90 0;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 140 0;
  --oui-color-link-light: 255 180 0;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 255 0 0;
  --oui-color-danger-light: 250 100 100;
  --oui-color-danger-darken: 200 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 128 0;
  --oui-color-success-light: 100 200 100;
  --oui-color-success-darken: 0 80 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 165 0;
  --oui-color-warning-light: 255 200 100;
  --oui-color-warning-darken: 200 100 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 26 20;
  --oui-color-fill-active: 50 36 30;

  --oui-color-base-1: 53 41 35;
  --oui-color-base-2: 45 35 29;
  --oui-color-base-3: 37 29 23;
  --oui-color-base-4: 32 26 20;
  --oui-color-base-5: 28 23 18;
  --oui-color-base-6: 24 20 16;
  --oui-color-base-7: 20 17 14;
  --oui-color-base-8: 17 14 12;
  --oui-color-base-9: 14 12 10;
  --oui-color-base-10: 10 9 8;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 0 0;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 255 100 0;
  --oui-gradient-primary-end: 255 140 0;

  --oui-gradient-secondary-start: 100 50 0;
  --oui-gradient-secondary-end: 200 100 0;

  --oui-gradient-success-start: 0 100 0;
  --oui-gradient-success-end: 0 150 0;

  --oui-gradient-danger-start: 200 0 0;
  --oui-gradient-danger-end: 250 0 0;

  --oui-gradient-brand-start: 200 100 0;
  --oui-gradient-brand-end: 250 150 0;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 200 100 0;
  --oui-gradient-warning-end: 250 150 0;

  --oui-gradient-neutral-start: 20 15 10;
  --oui-gradient-neutral-end: 30 25 20;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 16px !important;
}